#bannerTop{
    position: fixed;
    height: 5%;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: lightblue;
}

#photo{
    position: relative;
    background: url(https://codecademy-production.s3.amazonaws.com/profile_thumbnail/545700299c4e9dc77f007671_95212255.jpg) no-repeat center;
    background-size: contain;
    width: 3rem;
    padding-bottom: 3rem;
    border-radius: 50%;
    float: right;
    bottom: 1rem;
}